<app-header></app-header>
<main>
    <div class="search-container">
        <h2>Search by title</h2>
        <input type="text" name="" id="nome" #name (keyup)="searchMovieByTitle(name.value)">
    </div>
    <div class="container">
        <div class="card" *ngIf="movie">
            <img src="{{ posterUrl+movie.poster_path }}" alt="">
        </div>
        <div class="card" *ngIf="!movie">
            Not found movie
        </div>
        <div class="details-container">
            <div class="details">
                <h2>Title</h2>
                <h3>{{ movie.title }}</h3>
            </div>
            <div class="details">
                <h2>Synopsis</h2>
                <p>{{ movie.overview }}</p>
            </div>
            <div class="details">
                <h2>Released Date</h2>
                <p>{{ movie.release_date | date }}</p>
            </div>
            <div class="details">
                <h2>Avarage Rate</h2>
                <p>{{ movie.vote_average }}</p>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
