<header>
    <figure>
        <img src="./assets/images/welcome.jfif" alt="" class="logo">
    </figure>
    <menu class="menu-visible">
        <a routerLink="/movies-view">Movies</a>
        <a routerLink="/search-movie">Search</a>
        <a routerLink="/watch-list">Watch List</a>
    </menu>
    <div class="menu-slide-container" >
        <img src="./assets/images/menu.png" alt="" class="menu-pic" menuSlide>
        <menu class="menu-bar">
            <img src="./assets/images/close.png" alt="close" closeMenuSlide>
            <a routerLink="/movies-view">Movies</a>
            <a routerLink="/search-movie">Search</a>
            <a routerLink="/watch-list">Watch List</a>
        </menu>
    </div>
</header>