<app-header></app-header>
<main>
    <section class="welcome-text">
        <h1>Welcome to Marlon-MDB</h1>
    </section>
    <section class="carousel">
        <div class="carousel-container">
            <img src="{{ 'https://image.tmdb.org/t/p/original' + carousel.backdrop_path}}" alt="" id="{{carousel.id}}" class="item" *ngFor="let carousel of carouselList" (click)="goToMoviesDetails(carousel.id)">
        </div>
        <div class="btn-carousel">
            <input type="button" value="change" (click)="carouselSlide()" id="title">
        </div>
    </section>
    <p>Sort movie:</p>
    <div class="btn-container">
        <input type="button" value="By Title" id="title" #title (click)="setSort(title.id)">
        <input type="button" value="Default" id="default" #default (click)="setSort(default.id)">
        <input type="button" value="By Date" id="date" #date (click)="setSort(date.id)">
    </div>
    <section class="movies">
        <div class="card-container">
            <div class="card"  *ngFor="let movie of moviesList" id="{{ movie.id }}" #id (click)="goToMoviesDetails(id.id)">
                <img src="{{ 'https://image.tmdb.org/t/p/original' + movie.backdrop_path }}" alt="poster">
                <h1>{{ movie.title }}</h1>
                <p>{{ movie.release_date | date }}</p>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>