main
    height: calc( 100vh - 140px )
    background: rgb(1,15,21)
    display: flex
    align-items: center
    .container
        width: 850px
        margin: auto
        background: #eccfb1
        display: flex
        justify-content: center
        align-items: center
        height: auto
        border-radius: 10px
        height: 650px
        .card
            width: 400px
            height: 600px
            img
                width: 400px
        .details-container
            padding: 0 10px
            height: 600px
            width: 400px
            display: flex
            flex-direction: column
            justify-content: space-between
            .details
                h2
                    border-bottom: 1px solid black
                h2
                    color: black
                    font-size: 1.7rem
                p,a,h3
                    font-size: 1.3rem
                    color: black
                    padding: 5px 0
                    text-align: justify
                span
                    color: black