<app-header></app-header>
<main>
    <div class="container">
        <div class="card" *ngIf="movie">
            <img src="{{ posterUrl+movie.poster_path }}" alt="">
        </div>
        <div class="card" *ngIf="!movie">
            Not found movie
        </div>
        <div class="details-container">
            <div class="details">
                <h2>Title</h2>
                <h3 #title>{{ movie.title }}</h3>
            </div>
            <div class="details">
                <h2>Synopsis</h2>
                <p>{{ movie.overview }}</p>
            </div>
            <div class="details">
                <h2>Genres</h2>
                <p><span>{{ movie.genres
                 | genreFilter }}</span></p>
            </div>
            <div class="details">
                <h2>Released Date</h2>
                <p>{{ movie.release_date | date }}</p>
            </div>
            <div class="details">
                <h2>Avarage Rate</h2>
                <p>{{ movie.vote_average }}</p>
            </div>
            <div class="details">
                <h2>More</h2>
                <p>{{ movie.tagline }}</p>
                <a href="{{ movie.homepage }}">>>Official Site<<</a><br>
                <a href="{{trailerLink}}">Trailer</a>
            </div>
        </div>
    </div>
    <div class="btn-container">
        <input type="button" value="Add WatchList" id="add" (click)="addToWishList(title.innerHTML)" *ngIf="addButton">
        <input type="button" value="Remove From WatchList" id="remove"  (click)="removeFromWishList(title.innerHTML)" *ngIf="removeButton"/> 
    </div>
</main>
<app-footer></app-footer>