<app-header></app-header>
<main>
    <section class="movies">
        <div class="card-container" *ngIf="watchList.length>0">
            <div class="card" *ngFor="let movie of watchList">
                <div class="card-movie" id="{{ movie.id }}" (click)="goToMoviesDetails(movie.id)">
                    <img src="{{ movie.url }}" alt="">
                    <h1 #title>{{ movie.title }}</h1>
                    <p>{{ movie.date }}</p>
                </div>
                <div class="btn-container">
                    <input type="button" value="Remove From Watchlist" class="btn-remove" (click)="removeFromWishList(title.innerHTML)">
                </div>
            </div>
        </div>
        <div class="card-container" *ngIf="watchList.length<=0">
            <div class="card">
                <p class="aviso">No Movies in Watchlist</p>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>
